{% extends "base.html" %}

{% block content %}
<style>
  @media only screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }
</style>

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<div class="md-container">
  <section class="home-container">
    <div class="animated-gradient">
      <img src="images/logo/rgb/knative-logo-rgb.png" style="display: none;"/>
    </div>
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div>
          <h1>Open Source Cloud Security, Governance, and Management</h1>
          <h2>Apply filters and actions to all your clouds resources</h2>
          <p style="display: block">
            <a href="{{ 'https://cloudcustodian.io/docs/generated/aws/c7n.html' | url }}" class="md-button md-button--primary">
              Developer? Get Started Here!
            </a>
            <a href="{{ '/quickstart/#install-cloud-custodian/' | url }}" class="md-button"> Cloud Administrator? Get Started Here!</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="features-container">
    <div class="md-grid md-typeset">
      <h2>Highlights</h2>
      <ul class="task-list-control" style="columns: 2">
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        Comprehensive support for public cloud services and resources with a <b>rich library of actions and filters</b> to build policies with
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled /><span
          class="task-list-indicator"></span>
        Arbitrary filtering on resources with nested boolean conditions.</b>
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        Automatically provisions serverless functions and event sources (AWS CloudWatchEvents, AWS Config Rules, Azure EventGrid, GCP AuditLog & Pub/Sub, etc)
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        Robust dry-run features, experiment with <b>confidence</b>
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        Policy-based outputs sent directly to cloud provider <b>native metrics</b>
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        Policy-based structured outputs of matched resources into cloud native <b>object storage</b>
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        Intelligent cache usage to minimize api calls.
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        Supports multi-account, subscription, project usage.
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        <b>Battle-tested since 2015</b> - in production at some of the largest
        deployments on cloud
        </li>
        <li class="task-list-item">
          <input type="checkbox" checked disabled />
          <span class="task-list-indicator"></span>
        <b>Robust and open community</b> - Friendly and professional community
        dedicated to helping move Code as Governance forward. Part of the CNCF Ecosystem of tools
        (CNCF Sandbox)
        </li>

      
      
      </ul>
    </div>
  </section>

  <section class="intro-container">
    <div class="md-grid md-typeset">
      <img
        src="images/rocket.svg"
        class="rocket"
        alt=""
        draggable="false"
      />
      <div>
        <h2>The Path to a Well Managed Cloud</h2>
        <p>
          Cloud Custodian enables users to be well managed in the cloud. 
          The simple YAML DSL allows you to easily define rules to enable a
          well-managed cloud infrastructure, that's both secure and cost
          optimized. 
          It consolidates many of the ad-hoc scripts organizations have into a lightweight and flexible tool, with unified metrics and reporting.

          Custodian supports managing AWS, Azure, and GCP public cloud environments.
        </p>
      </div>
    </div>
  </section>

  <section class="usedby-container">
    <div class="md-grid md-typeset" style="width: 100%">
      <div id="usedby-title">
        <h3>Trusted by:</h3>
      </div>
      <div id="usedby">
        <div class="logo">
          <img src="https://commons.wikimedia.org/wiki/File:Capital_One_logo.svg" alt="" draggable="false" />
        </div>
        <div class="logo">
          <img src="images/corporate-logos/vmware.svg" alt="" draggable="false" />
        </div>
        <div class="logo">
          <img src="images/corporate-logos/IBM.svg" alt="" draggable="false" />
        </div>
        <div class="logo">
          <img src="images/corporate-logos/Redhat.svg" alt="" draggable="false" />
        </div>
        <div class="logo">
          <img src="images/corporate-logos/Triggermesh.svg" alt="" draggable="false" />
        </div>
      </div>
      <div id="usedby-more">..and more!</div>
    </div>
  </section>

  <section class="whats-next-container">
    <div class="md-grid md-typeset">
      <h2>What's Next?</h2>
      <div class="component-flex">
        <div class="pane">
          <div class="twemoji">
            {% include ".icons/fontawesome/brands/slack.svg" %}
          </div>
          <h4>Talk to us on Gitter</h4>
          <a href="https://gitter.im/capitalone/cloud-custodian" title="Slack Link" class="md-button">Talk</a>
          <p>Interested in learning more, speaking to other contributors, or finding answers?</p>
        </div>
        <div class="pane">
          <div class="twemoji">
            {% include ".icons/fontawesome/brands/github.svg" %}
          </div>
          <h4>Contributions Welcome</h4>
          <a href="https://github.com/cloud-custodian/cloud-custodian" title="Contributing Link" class="md-button">Contribute</a>
          <p>Want to join the fun on Github? New users are always welcome!</p>
        </div>
        <div class="pane">
          <div class="twemoji">
            {% include ".icons/fontawesome/brands/twitter.svg" %}
          </div>
          <h4>Follow us on Twitter</h4>
          <a href="https://twitter.com/kapilvt" title="Twitter Link" class="md-button">Follow</a>
          <p>For features announcements, interesting news, and other great
          things follow Kapil directly until we sort ourselves!</p>
          </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

